
# DB 설정
# spring.datasource.url = jdbc:mysql://localhost:3306/ictedu_db
# spring.datasource.username = ictedu
# spring.datasource.password =  1111
# spring.datasource.driver-class-name= com.mysql.cj.jdbc.Driver

# # 생략 가능
# server.port = 8080

# mybatis.mapper-locations=mapper/*.xml
# mybatis.type-aliases-package=com.ict.edu2


spring:
    application:
        name : finalspringboot

    datasource:
        url: jdbc:mysql://localhost:3306/ictede_db
        username: ictedu
        password: 1111
        driver-class-name: com.mysql.cj.jdbc.Driver



    # 정적 파일(이미지, CSS, JS 등)을 URL로 접근할 수 있도록 설정하는 옵션입니다.
    # http://localhost:8080/{파일명}
    web:
        resources:
            static-locations: file:D:/upload/    
            # static-locations: classpath:/static/  





# 파일 업로드 기능에서 파일이 저장될 물리적 경로를 명시.              
file:
  upload-dir: D:/upload

server:
  port: 8080            # 서버 포트
  servlet:
    context-path: /     # 애플리케이션의 기본 경로 (root context)

mybatis:
  mapper-locations: mapper/*.xml
  type-aliases-package: com.ict.finalspringboot

# 비밀키 사용(32바이트길이)  
# 1 시간 = 1000ms * 60 * 60 ;
jwt:
  secret : "abcdASDF1234abcdQWER0987poiuPOIU"
  expiration : 3600000

# # DB 설정
# # spring.datasource.url = jdbc:mysql://localhost:3306/ictedu_db
# # spring.datasource.username = ictdeu
# # spring.datasource.password =  1111
# # spring.datasource.driver-class-name= com.mysql.cj.jdbc.Driver

# # 생략 가능
# # server.port = 8080

# # mybatis.mapper-locations=mapper/*.xml
# # mybatis.type-aliases-package=com.ict.edu2

# # 작성법 변경 ( :  띄어쓰기 안해주면 오류 난다.)
# spring:
#    application:
#       name : finalspringboot

#    datasource:
#       url: jdbc:mysql://localhost:3306/ictede_db
#       username: ictedu
#       password: 1111
#       driver-class-name: com.mysql.cj.jdbc.Driver

#    # 정적 파일(이미지, CSS, JS 등)을 URL로 접근할 수 있도록 설정하는 옵션입니다.
#    # http://localhost:8080/{파일명}
#    mvc:
#       static-path-pattern: /**
   
#    web:
#       resources:
#          static-locations: file:C:/upload/ 

#    servlet:
#       multipart:
#          max-file-size: 10MB  # 최대 파일 크기 설정
#          max-request-size: 10MB  # 최대 요청 크기 설정

#    # web:
#    #    resources:
#    #       static-locations: file:C:/upload/
#          # static-locations: classpath:/static/  





#    # 파일 업로드 기능에서 파일이 저장될 물리적 경로를 명시.              
# file:
#    upload-dir: C:/upload

# server:
#    port: 8080
#    servlet:
#       context-path: /

# mybatis:
#    mapper-locations: mapper/*.xml
#    type-aliases-package: com.ict.finalspringboot

#    # 비밀키 사용(32바이트길이)  
#    # 1 시간 = 1000ms * 60 * 60 ;
# jwt:
#    secret : "abcdASDF1234abcdQWER0987poiuPOIU"
#    expiration : 3600000